{#
/**
 * @file
 * Default theme implementation for a locations map from views display style.
 **/
#}
<div class="a12s-locations-map-container">
  <div{{ attributes }}>
    <ul{{ content_attributes }}>
      {{ rows }}
    </ul>
  </div>

  <div class="a12s-locations-map">
    <div data-a12s-locations-map></div>
  </div>
</div>
